*, *::before, *::after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  color: #333;
  background: #fafafa;
  font-family: Lato, Helvetica, Arial;
  display: flex;
  flex-direction: column;
}

#page-header {
  width: 100%;
  margin-bottom: 2rem;
  background-color: #FF8800;
  padding: 1rem 4rem;
  margin-bottom: 0;
  flex-grow: 0;
  flex-shrink: 0;
}

#main-header {
  display: flex;
  justify-content: center;
  align-items: center;
}

#main-header > .speech-bubble {
  margin-left: 2rem;
}

.speech-bubble {
  display: flex;
  align-items: center;
}

.speech-bubble::before {
  display: block;
  content: "";
  width: 0;
  height: 0;
}

.speech-bubble.left::before {
  border-top: 1.5rem solid transparent;
  border-bottom: 1.5rem solid transparent;
  border-right: 1.5rem solid #FF8800;
}

.speech-bubble > span {
  background: #FF8800;
  color: white;
  border-radius: 1rem;
  padding: 2rem;
}

#page-body {
  display: flex;
  flex-grow: 1;
}

body::before {
  content: " ";
  background: #5BC0EB;
  width: 10rem;
  height: 2rem;
  display: block;
  margin-left: 2rem;
}

#page-sidebar {
  flex-basis: 6rem;
  flex-grow: 0;
  flex-shrink: 0;
  padding: 0 2rem;
  padding-top: 1rem;
  background: #5BC0EB;
  margin: 0 2rem;
}

#page-main {
  flex-grow: 1;
  max-width: 50rem;
  margin-top: 2rem;
}

p, h1, h2, h3, h4, h5, h6 {
  line-height: 1.75em;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 1.75rem;
}

p {
  font-size: 1.2rem;
}

a {
  background: #FF7200;
  color: white;
  padding: .25rem;
}

a:hover, a:focus {
  color: #FF7200;
  background: none;
}

#hdr-logo {
  height: 6rem;
  transition: .75s ease-in-out;
}

#hdr-logo:hover {
  transform: rotate(720deg);
}

#hdr-logo-rest {
  height: 6rem;
  padding-left: .6rem;
}

#hdr-logo *, #hdr-logo-rest *, #sidebar-logo-rest * {
  fill: #FFF;
  stroke: #FFF;
}

#page-wrapper {
  width: 100%;
  vertical-align: top;
  overflow: hidden;
}

#page-sidebar > * + *::before {
  display: block;
  width: 100%;
  height: 1px;
  background: #FFF;
  margin: 2rem 0;
  content: " ";
}

#sidebar-logo-rest {
  display: block;
  width: 6rem;
}

#external-links {
  display: block;
  text-align: center;
  width: 100%;
  list-style-type: none;
  padding: 0;
}

.service-link {
  margin: 2rem 0;
  display: block;
  width: 100%;
  padding: .5rem;
  cursor: pointer;
  cursor: hand;
}

.service-link a {
  background: none;
}

.service-link svg {
  width: 100%;
}

.service-link svg * {
  fill: #FFF;
  stroke: #FFF;

  transition: stroke .25s ease;
  transition: fill .25s ease;
}

.service-link:hover svg *, .service-link:focus svg * {
  fill: #FF8800;
  stroke: #FF8800;
}

.avatar {
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
}

#main-intro {
  text-align: center;
}