*, *::before, *::after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  color: #333;
  background: #fafafa;
  font-family: Lato, Helvetica, Arial;
  display: flex;
  flex-direction: column;
}

header {
  width: 100%;
  margin-bottom: 2rem;
  background-color: #FF6D00;
  padding: 1rem 4rem;
  margin-bottom: 0;
  flex-grow: 0;
  flex-shrink: 0;
}

#page-body {
  display: flex;
  flex-grow: 1;
}

body::before {
  content: " ";
  background: #5BC0EB;
  width: 10rem;
  height: 2rem;
  display: block;
  margin-left: 2rem;
}

#page-sidebar {
  flex-basis: 6rem;
  flex-grow: 0;
  flex-shrink: 0;
  padding: 0 2rem;
  padding-top: 1rem;
  background: #5BC0EB;
  margin: 0 2rem;
}

#page-main {
  flex-grow: 1;
}

p, h1, h2, h3, h4, h5, h6 {
  line-height: 1.5em;
}

h1 {
  font-size: 200%;
}

h2 {
  font-size: 120%;
}

#hdr-logo {
  height: 6rem;
  transition: .75s ease-in-out;
}

#hdr-logo:hover {
  transform: rotate(720deg);
}

#hdr-logo-rest {
  height: 6rem;
  padding-left: .6rem;
}

#hdr-logo *, #hdr-logo-rest *, #sidebar-logo-rest * {
  fill: #FFF;
  stroke: #FFF;
}

#page-wrapper {
  width: 100%;
  vertical-align: top;
  overflow: hidden;
}

#page-sidebar > * + *::before {
  display: block;
  width: 100%;
  height: 1px;
  background: #FFF;
  margin: 2rem 0;
  content: " ";
}

#sidebar-logo-rest {
  display: block;
  width: 6rem;
}

#external-links {
  display: block;
  text-align: center;
  width: 100%;
  list-style-type: none;
  padding: 0;
}

.service-link {
  margin: 2rem 0;
  display: block;
  width: 100%;
  padding: .5rem;
  cursor: pointer;
  cursor: hand;
}

.service-link svg {
  width: 100%;
}

.service-link svg * {
  fill: #FFF;
  stroke: #FFF;

  transition: stroke .25s ease;
  transition: fill .25s ease;
}

.service-link:hover svg *, .service-link:focus svg * {
  fill: #FDE74C;
  stroke: #FDE74C;
}